.wrapper {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.storeList {
    width: 35%;
}

.map {
    flex: 1 1 auto;
    align-self: stretch;
}